/* scss styles */
  
  /*-- scss:defaults --*/

$primary: #1a1a1a !default;
$link-color: #dd00eb;


/*-- scss:rules --*/
  
code {
  color: darken($primary, 10%);
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.navbar-brand {
  padding-left: 20px; 
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

footer .nav-link {
  background-color: $body-bg;
}

p {
  text-align: justify;
}

.banner {
  padding: 50px 5% !important;
  min-height: 60vh;
  align-content: center;
}

h2 {
  margin-top: 0 !important;
}

/*--- Home ---*/
  
  /*- Intro -*/
  
.hero-banner {
  position: relative;
  background-color: #F4F2F1;
}

.hero {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.hero h2 {
  text-align: center;
}

.hero-image{
  width: 400px;
  aspect-ratio: 1.5/1;
  margin: 0 auto 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.button {
  margin: 30px auto 0;
  border-radius: 20px;
  display: flex !important;
  justify-content: center;
  padding: 10px 20px;
  background-color: #f4f2f1;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button:hover {
  opacity: 0.5;
}

button p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}


.section-story {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}


/*- Services -*/
  
.section-services {
  background-color: #f4f2f1;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 40px;
}

.card {
  border: none;
  background-color: #f4f2f1;
  padding: 0 10px 20px;
}

.card p { 
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

#lastcard {
  justify-content: center;
}

/*- YouTube -*/
  
.channels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.youtube-channel iframe {
  aspect-ratio: 16/9;
  width: 100%;
  padding: 5%;
}

/*- Language and contacts -*/


.section-contacts {
  background-color: #f4f2f1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.language {
  margin-bottom: 30px;
}

/*-- Projects --*/
.project-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #f4f2f1;
}

.projects h3 {
  align-self: start;
}

.project-image {
  width: 35%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.project-image p {
  margin-bottom: 0;
}

.projects {
  width: 65%;
  padding: 5px 20px;
}

/*-- Enquiry --*/
  
.enquiry-page {
  display: flex;
  flex-direction: column;
}

.enquiry {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid;
  padding: 20px 10%;
  background-color: #f4f2f1;
  margin-top: 50px;
}

body.quarto-dark .enquiry {
  background-color: #290029;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  width: 100%;
  padding-top: 20px;
}

.name p {
  width: 45%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

#send {
  width: 200px;
  margin: 30px auto;
  color: $link-color;
}

/* also has button */
  
  /*-- Mobile Responsive --*/
  
@media (max-width: 700px) {
  .section-story {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  
  .hero-image {
    width: 100%;
  }
  .card-container {grid-template-columns: 1fr;}
  .channels {
    display: flex;
    flex-direction: column;
  }
  
  .project-container {flex-direction: column;}
  .project-image {width: 100%;}
  .projects {width: 100%;}
  
  .enquiry-page {flex-direction: column;}
  
  .enquiry-left {width: 100%; padding-bottom: 5%;}
  
  .name {
    flex-direction: column;
  }
  .name p {
    width: 100%;
  }
  
}